

<form >

        <input name='id' matInput [(ngModel)]="strInvoiceId" placeholder="Invoice Id" value="">

        <input name='name' matInput [(ngModel)]="strCustName" placeholder="Customer Name" value="">

        
        <input name='email' type="email" matInput [(ngModel)]="strEmail" placeholder="Email" value="">

        
        <input name='amount' type="number" matInput [(ngModel)]="dblAmount" placeholder="Amount" value="">

    <div><button (click)='goHome()'>Save Invoice</button></div>
</form>